<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>935733275344-kq5dreq4ogt60fr3uf295t4buc2ia442.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.935733275344-kq5dreq4ogt60fr3uf295t4buc2ia442</string>
	<key>API_KEY</key>
	<string>AIzaSyAtZL_LJfAfGOTxiWkHQPzNLMKsaNhrF5s</string>
	<key>GCM_SENDER_ID</key>
	<string>935733275344</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>HU-CSC.Dealz</string>
	<key>PROJECT_ID</key>
	<string>dealz-8717a</string>
	<key>STORAGE_BUCKET</key>
	<string>dealz-8717a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:935733275344:ios:24a03f598fa09f84270cd5</string>
</dict>
</plist>